:root {
    --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-font);
    --primary-clr: #222831;
    --secondary-clr: #EEEEEE;
    --accent-clr: #00ADB5;
    --accent-negative-clr: #B50800;
    --primary-lighter-clr: #2C333D;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    height: 100vh;
}