main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.question-number-div {
    text-align: center;
    width: 50%;
    h1{
        font-weight: 500;   
    }
}

.line-div {
    background-color: var(--accent-clr);
    height: 4px;
}

.question-div {
    text-align: center;
    width: 30em;
    font-size: 1.5em;
    font-weight: 300;
    img {
        width: 600px;
        margin-top: 20px;
        border-radius: 10px;
    }
}

.select-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &.short {
        flex-direction: row;
    }
    input {
        background-color: var(--primary-clr);
        border: 2px solid var(--secondary-clr);
        border-radius: 10px;
        width: 20em;
        height: 3em;
        padding: 0px 10px;
        font-size: 1.2em;
        color: var(--secondary-clr);
        text-align: center;
        &:focus {
            outline: 2px solid var(--accent-clr);
        }
    }
}

.answer-div {
    width: 40em;
    padding: 10px;
    background-color: var(--primary-lighter-clr);
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 300;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        outline: 1px solid var(--accent-clr);
    }
    &.short {
        width: 10em;
        text-align: center;
    }
}

.answer-div.selected{
    background-color: var(--accent-clr);
    color: var(--primary-clr);
}

.select-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.answer-img {
    padding: 3px;
    border-radius: 10px;
    img {
        display: block;
        border-radius: 10px;
        width: 400px;
    }
    &:hover {
        outline: 1px solid var(--accent-clr);
    }
}

.answer-img.selected {
    outline: 3px solid var(--accent-clr);
}

.button-div {
    button {
        border: 1px solid var(--accent-clr);
        border-radius: 20px;
        background-color: var(--primary-clr);
        color: var(--secondary-clr);
        font-family: var(--system-font);
        font-size: 1.8em;
        font-weight: 300;
        width: 200px;
        padding: 5px;
    }
    button:hover {
        background-color: var(--accent-clr);
    }
    button:active {
        background-color: var(--primary-clr);
    }
}